{% extends 'layout.twig' %}

{% block content %}

    <h1>Welcome to the site!</h1>

    <ul>
        {% for product in products %}
            <li>
                <i></i>
                <span>{{ product.id }}</span>
                <p>{{ product.content }}</p>
                <p>
                    <a href="/product/{{ product.id }}">Go to product</a>
                </p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
